.butt1 {
    border-top: 1px solid #96d1f8;
    background: #51a7e0;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e9c81), to(#51a7e0));
    background: -webkit-linear-gradient(top, #3e9c81, #51a7e0);
    background: -moz-linear-gradient(top, #3e9c81, #51a7e0);
    background: -ms-linear-gradient(top, #3e9c81, #51a7e0);
    background: -o-linear-gradient(top, #3e9c81, #51a7e0);
    padding: 13.5px 27px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 16px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}
.butt1:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ffffff;
}
.butt1:active {
    border-top-color: #1b435e;
    background: #1b435e;
}
#success_message{ display: none;}
